body{
	font-family: helvetica;
	text-align: center;
}

.build{
	background-image: url(../images/flatiron.png);
	color: white;
}

#footer p{
	text-align: left;
	background-color: dimgray;
	color: white;
	font-size: 11px;
}

a{
	color: white;
}

h1{
	font-size: 70px;
	font-weight: bold;
}

.btlink{
	font-size: 18px;
}

h2{
	font-size:32px;
	font-weight: bold;
}

h3{
	font-size: 23px;
	font-weight: bold;
}

p{
	font-size: 14px;
}